/* -----------------------------------------------
    Title: Structure
  Project: Manhattan
   Author: Kevin MORGAN
   Verion: 0.0.1
  Created: 1st Aug 2010 
 Modified: 1st Aug 2010
Copyright: Kevin Media
----------------------------------------------- */


/* @group structure */

#doc {
	margin: 0 auto;
}
#ft {
	color: #B4B4B4;
}
#ft a {
	color: #888;
}

/* @end structure */